<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-md-10">
      <h2>Become Fighter!</h2>
      <%= render "fighters/form", btn_text: "I WANT TO FIGHT", fighter: @fighter %>
    </div>
  </div>
</div>
