<% if status == "pending" %>
<span class="badge text-bg-primary">PENDING</span>
<% elsif status == "accepted" %>
<span class="badge text-bg-success">ACCEPTED</span>
<% else %>
<span class="badge text-bg-warning">DECLINED</span>
<% end %>
