.uh-card {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.event-card-container {
  width:360px;height:425px;position:relative
}

.uh-image {
  padding:6px;width:100%
}

.uh-image img {
  width:100%;border-radius: 10px;object-fit: contain;
}

.uh-card-body {
  padding:16px;
}

.event-button {
  width:300px !important;
  position:absolute;
  bottom:12px;
}
